{% extends 'base.html.twig' %}

{% block body %}
<h1 class="uk-animation-slide-bottom">{{ title_page }}</h1>

{% if enterprises| default %}
<div class="ui list">
    {% for enterprise in enterprises %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ enterprise }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}