@import "./assets/styles/variables";

// .ad-banner {
//     padding: 20px 0; /* Ajustez cette valeur si nécessaire */
//     background-color: #333;
//     color: #fff;
//     text-align: center;
//     overflow: hidden;
//     height: auto; /* Assurez-vous que la hauteur est suffisante pour le contenu */
//   }
  
//   .ad-carousel {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//   }
  
//   .ad-carousel div {
//     // margin: 0 10px;
//     // padding: 10px 20px;
//     background-color: #444;
//     // border-radius: 5px;
//     transition: background-color 0.3s ease;
//   }
  














// /* Carousel */
.ad-carousel {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  display: flex;

  // border: 2px solid blue;
  max-width: 100%;
}

.ad-carousel div {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $white !important;
  //   padding: 0 10px;
  text-align: center;
  // border:1px solid green;
}

.ad-carousel a {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 5px;
  white-space: nowrap;
  color: $grey!important;
  // border:1px solid #fff;
  width:auto;
}
.ad-carousel a:hover {
  text-decoration: none;
  color: $primary;
}
/* Couleur du dot sélectionné */
.slick-dots li.slick-active button {
  // background-color: $secondary;
  color: $white;
}
.slick-dots li.slick-active button:before {
  // background-color: $secondary;
  color: $white;
}
.slick-dots li button:before {
  // background-color: $secondary;
  color: $white;
}

/* iPhone 5 (et appareils similaires) */
@media (max-width: 320px) {

}

/* Mobile général (jusqu'à 480px) */
@media (max-width: 480px) {

}

/* Téléphones moyens/grands (481px à 767px) */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Tablettes (769px à 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Ordinateurs de bureau et plus grands appareils (1025px et plus) */
@media (min-width: 1025px) {

}

/* Container for the carousel */
