{# StickyFooter #}
<div id="sticky-root"></div>

<div class="custom-container ">
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Liens rapides</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-info-circle"></i> A propos</a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i> Contact</a></li>
                    <li><a href="#"><i class="fas fa-shield-alt"></i> Politique de confidentialité</a></li>
                    <li><a href="#"><i class="fas fa-file-contract"></i> Conditions d'utilisation</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Nos services</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-laptop-code"></i> Développement web</a></li>
                    <li><a href="#"><i class="fas fa-mobile-alt"></i> Application mobile</a></li>
                    <li><a href="#"><i class="fas fa-chart-line"></i> Analyse des données</a></li>
                    <li><a href="#"><i class="fas fa-cloud"></i> Solutions cloud</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Connecte-toi avec nous</h3>
                <div class="social-links">
                    <a href="" class="uk-icon-button  uk-margin-small-right"><i class="facebook f icon"></i></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right"><i class="twitter icon"></i></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right"><i class="youtube icon"></i></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right"><i class="instagram icon"></i></a>
                </div>
                <div class="newsletter">
                    <h4>Abonnez-vous à notre newsletter</h4>
                    <form>
                        <input type="email" placeholder="Votre Email" aria-label="Email for newsletter">
                        <a class="ui button primary" type="submit">S'abonner</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 fiverrJR @Elan-Formation</p>
            <a href="#" class="back-to-top" aria-label="Back to top"><i class="fas fa-chevron-up"></i></a>
        </div>
    </footer>
</div>
{% block javascripts %}
{# {{ encore_entry_script_tags('StickyFooter') }} #}
{% endblock %}