<div class="uk-container ">

    <div class="uk-padding uk-child-width-1-2 uk-text-center" uk-grid>

        <div class="uk-width-expand@m">

            <div class="uk-child-width-1-2" uk-grid>

                {# <ul class="uk-list uk-list-line">
                    <i class="accessible icon" style="visibility: visible;"></i>
                    <i class="american sign language interpreting icon" style="visibility: visible;"></i>
                    <i class="assistive listening systems icon" style="visibility: visible;"></i>
                </ul>
                <ul class="uk-list uk-list-line">
                    <i class="accessible icon" style="visibility: visible;"></i>
                    <i class="american sign language interpreting icon" style="visibility: visible;"></i>
                    <i class="assistive listening systems icon" style="visibility: visible;"></i>
                </ul> #}

            </div>
        </div>
        <div class="uk-width-auto@m" uk-grid>
            <div>
                <div class="uk-width-small-1-1">
                    <div class="mk-brand-bw">
                        <div class="mk-logo-bw">
                            <a class="uk-navbar-item uk-logo container-logo" href="{{ asset('home') }}">
                                <div class="ui tiny image">
                                    {# <img src="{{ asset('img.webp') }}"> #}
                                </div>
                            </a>

                        </div>

                    </div>

                    <div class="uk-text-center">
                        <a href="" class="uk-icon-button  uk-margin-small-right"><i class="facebook f icon"></i></a>
                        <a href="" class="uk-icon-button  uk-margin-small-right"><i class="twitter icon"></i></a>
                        <a href="" class="uk-icon-button  uk-margin-small-right"><i class="youtube icon"></i></a>
                        <a href="" class="uk-icon-button  uk-margin-small-right"><i class="instagram icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>