{# StickyFooter #}
{# <div id="sticky-root"></div> #}

<div class="ui inverted vertical segment margin-top-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="four wide column">
                <h3 class="ui inverted header">Liens rapides</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item"><i class="fas fa-info-circle"></i> A propos</a>
                    <a href="#" class="item"><i class="fas fa-envelope"></i> Contact</a>
                    <a href="#" class="item"><i class="fas fa-shield-alt"></i> Politique de confidentialité</a>
                    <a href="#" class="item"><i class="fas fa-file-contract"></i> Conditions d'utilisation</a>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui inverted header">Nos services</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item"><i class="fas fa-laptop-code"></i> Développement web</a>
                    <a href="#" class="item"><i class="fas fa-mobile-alt"></i> Application mobile</a>
                    <a href="#" class="item"><i class="fas fa-chart-line"></i> Analyse des données</a>
                    <a href="#" class="item"><i class="fas fa-cloud"></i> Solutions cloud</a>
                </div>
            </div>
            <div class="six wide column">
                <h3 class="ui inverted header">Connecte-toi avec nous</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item"><i class="facebook f icon"></i> Facebook</a>
                    <a href="#" class="item"><i class="twitter icon"></i> Twitter</a>
                    <a href="#" class="item"><i class="youtube icon"></i> YouTube</a>
                    <a href="#" class="item"><i class="instagram icon"></i> Instagram</a>
                </div>
                <div class="ui inverted segment">
                    <h4 class="ui inverted header">Abonnez-vous à notre newsletter</h4>
                    <form class="ui form">
                        <div class="ui action input">
                            <input type="email" placeholder="Votre Email">
                            <button class="ui button primary" type="submit">S'abonner</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui horizontal inverted small divided link list">
            <p>&copy; 2024 fiverrJR @Elan-Formation</p>
            <a href="#" class="item back-to-top" aria-label="Retour au sommet"><i class="angle up icon"></i></a>
        </div>
    </div>
</div>


{% block javascripts %}
{# {{ encore_entry_script_tags('StickyFooter') }} #}
{# {{ encore_entry_script_tags('StickyFooter') }} #}
{% endblock %}