
@import "./assets/styles/variables";

.itemUserCard-image {
    border-radius: 50%; 
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
  }
  
  .itemUserCard-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align:left;
  }
  
  .itemUserCard-header {
    font-size: 1.2em; 
    font-weight: bold;
  }
  
  .itemUserCard-meta {
    color: #888; 
    font-size: 0.9em;
  }
  
  .itemUserCard-description {
    margin: 10px 0; 
  }
  
  .itemUserCard-extra {
    font-size: 0.8em; 
    color: #555; 
  }
  
    
  @media (max-width: 320px) {
    .itemUserCard-image {
      width: 50px;
      height: 50px;
    }
  
    .itemUserCard-header {
      font-size: 0.9em;
    }
  
    .itemUserCard-meta,
    .itemUserCard-extra {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 480px) {
    .itemUserCard-image {
      width: 50px;
      height: 50px;
    }
  
    .itemUserCard-header {
      font-size: 0.9em;
    }
  
    .itemUserCard-meta,
    .itemUserCard-extra {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 768px) {
    .itemUserCard-image {
      width: 60px;
      height: 60px;
    }
  
    .itemUserCard-header {
      font-size: 1em;
    }
  
    .itemUserCard-meta,
    .itemUserCard-extra {
      font-size: 0.8em;
    }
  }
