@import "variables";
/* Alert styles */
.ui.message.anim {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-size: $font-size-navbar-mobile;
  position: absolute; // position absolute pour un flottement 
  top: $top-alert;
  right: 0; // reste aligner au container right
  max-width: $max-width-alert;
  z-index: 1000; // pour être sur que l'alert soit visible par dessus tout 
  padding: 10px;

}
.ui.message.anim .header {
  font-size: $font-size-navbar-desktop;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Slide-in animation */
.ui.message.anim.show {
  display: block;
  opacity: 1;
  animation: slide-in-right 0.5s forwards;
}

/* Slide-out animation */
.ui.message.anim.hide,
.ui.message.anim.closing {
  animation: slide-out-right 0.5s forwards;
}


/* par defaut  */
#alert-javascript-mobile {
  display: none;
}
/* iPhone 5 (et appareils similaires) */
@media (max-width: 320px) {
  #alert-javascript-desktop {
    display: none;
  }
  #alert-javascript-mobile {
    display: block;
  }
}

/* Mobile général (jusqu'à 480px) */
@media (max-width: 480px) {
  #alert-javascript-desktop {
    display: none;
  }
  #alert-javascript-mobile {
    display: block;
  }
}

/* Téléphones moyens/grands (481px à 767px) */
@media (min-width: 481px) and (max-width: 768px) {
  #alert-javascript-desktop {
    display: none;
  }
  #alert-javascript-mobile {
    display: block;
  }
}

/* Media queries pour responsive */
@media (max-width: 768px) {
  #alert-javascript-desktop {
    display: none;
  }
  #alert-javascript-mobile {
    display: block;
  }
}


/* Tablets (portrait) */
@media (min-width: 769px) and (max-width: 1024px) {
  #alert-javascript-desktop {
    display: none;
  }
  #alert-javascript-mobile {
    display: block;
  }
}
/* Desktops and larger devices */
@media (min-width: 1025px) {
  #alert-javascript-desktop {
    display: block;
  }
  #alert-javascript-mobile {
    display: none;
  }
}