.visible {
  display: block !important;
}
.separator {
  height: 100px;
}
/* Search motor  */
.full-width-input {
  width: 100% !important; /* Prend toute la largeur disponible */
  box-sizing: border-box; 
}
/* On masque les * des required des moteur de recherche*/
label.required::after {
  content: "";
  display: none !important;
}
/* Assurez-vous que ce style est bien chargé */
.ui.modal {
  transition: all 0.3s ease;
}
/*  couleur list semantic*/
.ui.list > .item, .ui.list > .item > .content > .header {
 /*color: #fff !important;*/
}
#initial-container {
  height: 100vh; /* Full viewport height */
}

#carousel-container {
  padding-top: 2rem;
}
.carousel-slide img {
  width: 100%;
  max-width: 400px;
  height: auto; /* Maintient le ratio de l'image */
  max-height: 300px;
  object-fit: cover; /* Recadre l'image si nécessaire */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
