table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center;
}
th a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}
th a:hover {
    text-decoration: none;
}