@import "variables";

.cart-container {
    position:relative;
    top: $navbar-height;
    left:0;
    width:100%;
    display: flex;
    justify-content: flex-end; 
    height:100vh !important;
}
.cart-container {
    position:relative;
    top: $navbar-height;
    left:0;
    width:100%;
    min-height:100vh;
}
// .cart-content {
//     width: 400px; /* Adjust the width as needed */
// }
// .cart-total {
//     margin-top: 20px;
//     text-align: right;
// }
// /* Responsive design */
// @media (max-width: 768px) {
// }
// /* Tablets (portrait) */
// @media (min-width: 769px) and (max-width: 1024px) {
// }
// /* Desktops and larger devices */
// @media (min-width: 1025px) {
// }
/* iPhone 5 (et appareils similaires) */
@media (max-width: 320px) {

}

/* Mobile général (jusqu'à 480px) */
@media (max-width: 480px) {

}

/* Téléphones moyens/grands (481px à 767px) */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Tablettes (769px à 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Ordinateurs de bureau et plus grands appareils (1025px et plus) */
@media (min-width: 1025px) {

}