@import "variables";

.developer-search-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $container-padding;
  height: 100%;
}
.cards-container-display {
  // display: none;
}
// .results-container {
//   transition: transform 0.3s ease, opacity 0.3s ease;
// }

// .slide-down {
//   transform: translateY(0);
//   opacity: 1;
// }

// .slide-up {
//   transform: translateY(-20px);
//   opacity: 0;
// }

// .cards-container {F
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   justify-content: center;
//   padding: 10px;
// }

// .cards-container .card {
//   flex: 1 1 300px;
//   min-width: 100px;
//   max-width: 200px;
//   min-height: 150px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   border-radius: 10px;
//   overflow: hidden;
// }
// // ItemUser.jsx
// .image-container {
//   width: 100%; // Assure que le conteneur prend toute la largeur de la carte
//   height: 200px; //Hauteur fixe pour les images*/
//   max-height:50%;
//   overflow: hidden; // Cache toute partie de l'image qui dépasse
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .profile-image {
//   width: auto; // Ajuste la largeur
//   height: 100%; // La hauteur de l'image est égale à la hauteur du conteneur
//   object-fit: cover; // Assure que l'image couvre toute la surface du conteneur
// }

/* iPhone 5 (et appareils similaires) */
@media (max-width: 320px) {
}

/* Mobile général (jusqu'à 480px) */
@media (max-width: 480px) {
}

/* Téléphones moyens/grands (481px à 767px) */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Tablettes (769px à 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Ordinateurs de bureau et plus grands appareils (1025px et plus) */
@media (min-width: 1025px) {
}
