@import "variables";

@function hex-to-rgba($hex, $alpha: 1) {
  @if not(type-of($hex) == color) {
    @error "Le paramètre doit être une couleur hexadécimale.";
  }
  @return rgba($hex, $alpha);
}


.item-dropdown-mobile .title.item {
  color: $white;
}
// Styles de base  
.ui.dropdown.link.item {
  position: relative; 
  width: auto !important;
  z-index: 1000; 
}

$secondary-color-rgba: hex-to-rgba($secondary, $alpha-navbar);
.ui.dropdown.link.item .menu.menu-dropdown-desktop {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto !important;
  min-width: $dropdown-min-width !important; // 200px
  max-width: $dropdown-max-width !important; // 400px
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  // background: $white;
  z-index: 1001; // Plus élevé que le parent pour être au-dessus
  font-size: $font-size-navbar-desktop-small;
  background-color: $secondary-color-rgba;
}
.ui.dropdown.link.item .menu .item > a {
  text-decoration: none;
  color: $link-navbar;
}

// Sous-menu du dropdown
.ui.dropdown.link.item .menu .item .menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: auto !important;
  background-color: $secondary-color-rgba;
}

/* iPhone 5 (et appareils similaires) */
@media (max-width: 320px) {

}

/* Mobile général (jusqu'à 480px) */
@media (max-width: 480px) {

}

/* Téléphones moyens/grands (481px à 767px) */
@media (min-width: 481px) and (max-width: 768px) {
  .item-dropdown-mobile {
    color: $dropdown-text-color-mobile !important;
    .content {
      // background-color: $dropdown-bg-color-mobile !important; // Couleur de fond en mode mobile
      color: $dropdown-text-color-mobile !important; // Couleur de texte en mode mobile
      .item {
        .title {
          color: $dropdown-text-color-mobile !important; // Couleur de texte pour les titres des sous-items
        }
        .content {
          .item {
            a {
              color: $dropdown-text-color-mobile !important; // Couleur de texte pour les liens
            }
          }
        }
      }
    }
  }
}

/* Tablettes (769px à 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Ordinateurs de bureau et plus grands appareils (1025px et plus) */
@media (min-width: 1025px) {

}