.visible {
  display: block !important;
}

.separator {
  height: 60px;
}
/*.ui.dropdown .menu {
    display: block !important;
    background-color: rgba(255, 0, 0, 0.1);

  }*/
/* Largeur minimale pour les dropdowns */
.ui.vertical.menu .ui.dropdown .menu {
  min-width: 500px !important;
  /* Ajustez cette valeur selon vos besoins */
  padding: 0;
  box-shadow: none;
  background-color: rgba(0, 255, 0, 0.1);
  /* Fond vert clair pour vérifier la largeur */
}

/* Position des sous-menus */
.ui.vertical.menu .ui.dropdown .menu .ui.dropdown .menu {
  top: 0;
  /* Positionne le sous-menu aligné en haut du parent */
  left: 100%;
  /* Positionne le sous-menu à droite du parent */
  margin-left: -1px;
  /* Pour éviter les chevauchements */
  min-width: 200px;
  background-color: rgba(0, 0, 255, 0.1);
  /* Fond bleu clair pour vérifier la position */
}

/* Ajustement du padding pour les items */
.ui.vertical.menu .ui.dropdown .menu .item {
  padding: 10px 16px;
  /* Ajustez selon vos besoins */
  background-color: rgba(255, 255, 0, 0.1);
  /* Fond jaune clair pour vérifier le padding */
}

/* Hauteur automatique pour les items du premier niveau */
.ui.vertical.menu .ui.dropdown .menu > .item {
  height: auto;
  background-color: rgba(255, 0, 255, 0.1);
  /* Fond rose clair pour vérifier la hauteur */
}
