@import "variables";


/* couleur lien dropdown interne */
.ui.fixed.borderless.huge.menu .left.menu .menu a {
  list-style-type: none;
  text-decoration: none;
  color:$secondary ;
}
.ui.fluid.dropdown {
  width: auto !important; 
}
