/* Styles pour les dropdowns */
.ui.dropdown.item {
  position: relative;
  cursor: pointer;
}
.ui.dropdown.item > .menu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  min-width: 350px !important;
  top: 100%;
}
.ui.dropdown.item > .menu > .item > .menu {
  position: absolute;
  left: 100%;
  margin-left: -1px;
  min-width: 300px; 
}
.ui.dropdown.item > .menu > .item > .menu > .item {
  height: auto;
}
