@import "./assets/styles/variables";

//Fonction pour convertir les couleurs hexadécimales en rgba
@function hex-to-rgba($hex, $alpha: 1) {
  @if not(type-of($hex) == color) {
    @error "Le paramètre doit être une couleur hexadécimale.";
  }
  @return rgba($hex, $alpha);
}

$overlay-homepage: hex-to-rgba($secondary, $alpha-homepage-jsx);
#homepage-root {
  background-color: $primary;
}
.custom-grid-container {
    position: relative;
    max-width: $container-grid-max-width;
    margin: 0 auto;
    padding: $padding-extra-large;
    overflow: hidden;
    box-sizing: border-box;
    border: 5px solid green;
    background-color: $primary;
  }
  
  .overlay-homepage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: $overlay-homepage;
    pointer-events: none;
    z-index: 1;
  }
// .home {
//    position: relative;
//    z-index: 2;
//    overflow: hidden !important;
//   box-sizing: border-box;
//   margin: 0 auto;
// }

// .home > .row,
// .home > .column {
//   margin: 0;
//   padding: 0;
// }

// .home .card {
//   margin: $margin-small auto;
//   padding: $padding-small;
//   box-sizing: border-box;
// }

/* Centrer verticalement les éléments */
// .grid.row {
//   display: flex;
//   align-items: center;
// }

/* Ajustements pour s'assurer que les conteneurs ne débordent pas */
// .home .ui.segment {
//   margin: $margin-small auto;
//   padding: $padding-small;
//   box-sizing: border-box;
// }
/* iPhone 5 (et appareils similaires) */
@media (max-width: 320px) {

}

/* Mobile général (jusqu'à 480px) */
@media (max-width: 480px) {

}

/* Téléphones moyens/grands (481px à 767px) */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Tablettes (769px à 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Ordinateurs de bureau et plus grands appareils (1025px et plus) */
@media (min-width: 1025px) {

}