@import "variables";

@function hex-to-rgba($hex, $alpha: 1) {
  // Vérifie que la couleur est bien en hexadécimal
  @if not (type-of($hex) == color) {
    @error "Le paramètre doit être une couleur hexadécimale.";
  }
  // Convertit la couleur hexadécimale en couleur RGBA avec l'alpha spécifié
  @return rgba($hex, $alpha);
}

.custom-container-navbar {
  width: $container-navbar-max-width !important;
}
.ui.fixed.borderless.huge.menu {
  background-color: $secondary;
}
// Couleur des liens gauche
.computer.only.row .left.menu a {
  color: $link-navbar;
}
// Couleur des liens  à droite
.ui.fixed.borderless.huge.menu .right.menu a {
  color: $link-navbar;
}
// Couleur de l'icône panier
.ui.fixed.borderless.huge.menu .right.menu a .cart.arrow.down.icon {
  color: $linkColor;
}
// Couleur du texte Thèmes 
.ui.dropdown .theme {
  color: $linkColor;
}
// Mobile
//Couleur de l'entête et du bouton icône en mode mobile
.tablet.mobile.only .header,
.ui.icon.button {
  color: $secondary;
}
.tablet.mobile.only .header {
  color: $link-navbar;

}
.tablet.mobile.only .header:hover {
  color: $primary;
}
// Génére un format rgba a partir de la couleur variable
$primary-color-rgba: hex-to-rgba($primary, $alpha-navbar-mobile);

/* Styles pour le menu mobile */
.ui.vertical.accordion.menu {
  display: none; 
  position: fixed; 
  top: 0; 
  right: 0;
  width: 100%; 
  max-width: 300px; // Largeur maximale du menu 
  height: 100%; 
  overflow-y: auto; // Permet le défilement vertical 
  background-color: $primary-color-rgba; // résultat de la convertion par function
  z-index: 998;
  box-shadow: 0 2px 5px $primary-color-rgba; // Ombre avec couleur rgba 
  font-size: $font-size-navbar-mobile;
}

// Style du bouton burger
.ui.animated.icon.button > .content > .icon,
.ui.icon.buttons .button > .icon,
.ui.icon.button {
  background-color: transparent;
  color: $link-navbar;
  font-size: $font-size-burger;

  transition: color 0.3s ease; 
}
.ui.animated.icon.button > .content > .icon,
.ui.icon.buttons .button > .icon,
.ui.icon.button:hover{
  background-color: transparent;
  color: $link-navbar;
  font-size: $font-size-burger;

  transition: color 0.3s ease; 
}
// Changement de couleur au survol
.ui.animated.icon.button > .content > .icon:hover,
.ui.icon.buttons .button > .icon:hover,
.ui.icon.button > .icon:hover {
  color: $primary;
}
