/* Styles généraux pour la navbar */
.ui.fixed.borderless.huge.menu {
  width: 100%;
  background-color: #fff;
}

.ui.grid {
  width: 100%;
}
.computer.only.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left.menu,
.right.menu {
  display: flex;
  align-items: center;
}