/* Styles généraux pour la navbar */
.ui.fixed.borderless.huge.menu {
  width: 100%;
  background-color: #fff;
}

.ui.grid {
  width: 100%;
}
.computer.only.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left.menu,
.right.menu {
  display: flex;
  align-items: center;
}

/* body {
  min-height: 2000px;
} */
/*
.ui.fixed.borderless.huge.menu .ui.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offices {
  color: #fff;
}
.flags a {
  padding: 0.012em;
}

.ui.fixed.borderless.menu {
  background-color: #a0a0a0;
}

.ui .computer.only .item {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.ui .computer.only .item:hover {
  background: #000000 !important;
  color: #fff !important;
}

.ui .computer .item.active {
  background: #a0a0a1;
  color: #fff;
}

 .ui.dropdown.item .menu {
  background-color: #a0a0a0 !important;
}
.ui.menu .ui.dropdown .menu > .item {
  color: #fff !important;
}
.ui.menu .ui.dropdown .menu > .item.active {
  background-color: #a0a0a1 !important;
  color: #fff !important;
}
.ui.menu .ui.dropdown .menu > .item:hover {
  background-color: #000000 !important;
  color: #fff !important;
} 

.ui.fixed.borderless.menu .row > a.header.item {
  font-size: 1.2em;
}

.ui.message {
  background-color: rga(238, 238, 238);
  box-shadow: none;
  padding: 5em 4em;
}
.ui.message h1.ui.header {
  font-size: 4.5em;
  color: #a0a0a0;
}
.ui.message p.lead {
  font-size: 1.3em;
  color: #333333;
  line-height: 1.4;
  font-weight: 300;
}

.ui.purple.button {
  background-color: #a0a0a0;
}

.tablet.mobile.only .header,
.ui.icon.button > .icon {
  color: #fff;
}

.tablet.mobile.only .header:hover {
  background-color: #000000 !important;
  color: #fff !important;
}

.ui.basic.button:hover {
  background: #000000 !important;
  color: #fff !important;
}

.ui.vertical.menu {
  display: none;
  border: none;
  box-shadow: none;
  background-color: #a0a0a0;
}
.ui.vertical.menu > .item {
  padding-left: 1.428em;
  color: #fff;
}

.ui.vertical.menu > .item.active {
  padding-left: 1.428em;
  background-color: #a0a0a1 !important;
  color: #fff !important;
}

.ui.vertical.menu > .item:hover {
  padding-left: 1.428em;
  background-color: #000000 !important;
  color: #fff !important;
}
.ui.vertical.menu .item .title {
  color: #fff;
}
.ui.vertical.menu .item .title .dropdown.icon {
  float: none;
  color: #fff;
}

.ui.vertical.menu .item .content .item {
  padding: 0.5em 1em;
  color: #fff;
}

.ui.vertical.menu .item .content .item:hover {
  padding: 0.5em 1em;
  background-color: #a0a0a0 !important;
  color: #fff !important;
}

.ui.vertical.menu .item .content .item.active {
  padding: 0.5em 1em;
  background-color: #a0a0a1 !important;
  color: #fff !important;
}

.ui.vertical.menu .header.item {
  text-transform: uppercase;
  color: #fff;
}
*/