.parallax-home-1 {
  background-image: url("../../public/img/services/background-home-1.jpg");
}

.parallax-home-2 {
  background-image: url("../../public/img/services/background-home-2.jpg");
}
.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-content {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.text-carousel-parallax {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8em;
  animation: moveLeft 1.5s ease-in;
}

/* .slick-dots {
  background-color: #ccc; 
  color:#fff;
} */
/* Couleur des dots non sélectionnés */
/* .slick-dots li button {
  background: #fff; 
  color:#fff;
} */

/* Couleur du dot sélectionné */
.slick-dots li.slick-active button {
  background-color: #1a1a1a;
  color: #fff;
}
.slick-dots li.slick-active button:before {
  background-color: #1a1a1a;
  color: #fff;
}
.slick-dots li button:before {
  background-color: #1a1a1a;
  color: #fff;
}
/* Taille des dots */
/* .slick-dots li button {
  width: 12px; 
  height: 12px; 
} */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.floating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 20px;
  z-index: 1;
}

.floating-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.floating-text span {
  font-size: 1.5rem;
  color: #fff;
}

.text-primary,
.text-sub {
  display: block;
  text-align: center;
}

.text-primary {
  text-transform: uppercase;
  letter-spacing: 35px;
  font-size: 2em;
  animation: moveLeft 1.5s ease-in;
}

.text-sub {
  letter-spacing: 15px;
  font-size: 1em;
  animation: moveRight 1.5s ease-in;
  text-shadow: 0 0 5px white;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translatex(-100px);
  }
  80% {
    transform: translatex(10px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }
  80% {
    transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

.ad-banner {
  background-color: #1a1a1a;
  padding: 20px 0;
}
/* 
.ad-banner img {
  width: 100%;
  height: auto;
}

.ad-carousel {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

.ad-carousel div {
  color: #fff;
  padding: 0 10px; 
  text-align: center;
}

.ad-carousel a {

  text-decoration: none; 
  display: block;
  padding: 10px 15px; 
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0.1); 
  transition: background-color 0.3s ease;
}

.ad-carousel a:hover {
  background-color: rgba(255, 255, 255, 0.3); 
  text-decoration: none;
} */






.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #1a1a1a;
  opacity: 0.1;
  z-index: 1;
}

/* h1 {
  margin-top: 5%;
  font-size: 3rem;
  display: inline-block;

  div {
    position: relative;
    float: left;
  }
  div:first-child {
    color: #3498db !important;
    margin-right: 1rem;
  }
  div:last-child {
    color: #fff !important;
  }
}



p {
  font-size: 1.2rem;
  color: gray;
  text-transform: uppercase;
} */
