@import "variables";
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border:1px solid grey;
}
img,
video {
  max-width: 100%;
  height: auto;
}
html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.image-container {
  flex: 1;
  padding: 10px;
  max-width: 100%;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
.content.home {
  position: relative;
  top: 0;
  left: 0;
  // margin-top: 10vh;
  min-height: 100%;
  max-width: 100%;
}

.loader {
  display: none;
}

.separator {
  position: relative;
  max-width: 100vh;
  max-height: 80px;
  height: 80px;
}
.visible {
  display: block !important;
}
.separator {
  height: 100px;
}
/* Search motor  */
.full-width-input {
  width: 100% !important; /* Prend toute la largeur disponible */
  box-sizing: border-box; 
}
/* On masque les * des required des moteur de recherche*/
label.required::after {
  content: "";
  display: none !important;
}
/* Assurez-vous que les champs ne sont pas en état d'erreur par défaut */
.ui.form .field.error input {
  border-color: #e0e1e2;
}
// Padding
.padding {
  padding: $padding-medium; // Valeur par défaut
}

.padding-small {
  padding: $padding-small;
}

.padding-large {
  padding: $padding-large;
}
.padding-extra-large {
  padding: $padding-extra-large;
}
.padding-top {
  padding-top: $padding-medium;
}

.padding-top-small {
  padding-top: $padding-small;
}

.padding-top-large {
  padding-top: $padding-large;
}
.padding-top-extra-large {
  padding-top: $padding-extra-large;
}
.padding-bottom {
  padding-bottom: $padding-medium;
}

.padding-bottom-small {
  padding-bottom: $padding-small;
}
.padding-bottom-large {
  padding-bottom: $padding-large;
}
.padding-bottom-extra-large {
  padding-bottom: $padding-extra-large;
}
// Margin
.margin {
  margin: $margin-medium;
}
.margin-small {
  margin: $margin-small;
}
.margin-large {
  margin: $margin-large;
}
.margin-extra-large {
  margin: $margin-extra-large;
}
.margin-top {
  margin-top: $margin-medium;
}
.margin-top-small {
  margin-top: $margin-small;
}

.margin-top-large {
  margin-top: $margin-large;
}
.margin-top-extra-large {
  margin-top: $margin-extra-large;
}
.margin-bottom {
  margin-bottom: $margin-medium;
}
.margin-bottom-small {
  margin-bottom: $margin-small;
}
.margin-bottom-large {
  margin-bottom: $margin-large;
}
.margin-bottom-extra-large {
  margin-bottom: $margin-extra-large;
}
