@import "variables";

.custom-container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $container-padding;
}

// Padding
.padding {
  padding: $padding-medium; // Valeur par défaut
}

.padding-small {
  padding: $padding-small;
}

.padding-large {
  padding: $padding-large;
}

.padding-top {
  padding-top: $padding-medium;
}

.padding-top-small {
  padding-top: $padding-small;
}

.padding-top-large {
  padding-top: $padding-large;
}

.padding-bottom {
  padding-bottom: $padding-medium;
}

.padding-bottom-small {
  padding-bottom: $padding-small;
}

.padding-bottom-large {
  padding-bottom: $padding-large;
}

// Margin
.margin {
  margin: $margin-medium; // Valeur par défaut
}

.margin-small {
  margin: $margin-small;
}

.margin-large {
  margin: $margin-large;
}

.margin-top {
  margin-top: $margin-medium;
}

.margin-top-small {
  margin-top: $margin-small;
}

.margin-top-large {
  margin-top: $margin-large;
}

.margin-bottom {
  margin-bottom: $margin-medium;
}
.margin-bottom-small {
  margin-bottom: $margin-small;
}
.margin-bottom-large {
  margin-bottom: $margin-large;
}


/* Lists */
.folder.icon {
  color: #fff;
}
.ui.list > .item,
.ui.list > .item > .content > .header {
  color: #fff !important;
}
.ui.list.login > .item,
.ui.list.login > .item > .content > .header {
  color: rgba(0, 0, 0, 0.87) !important;
}


/* Forms*/ 
.ui.form label {
  color: #fff !important;
}
.ui.form.login label {
  color: rgba(0, 0, 0, 0.87) !important;
}
.ui.form.register label {
  color: rgba(0, 0, 0, 0.87) !important;
}
.ui.form.order label {
  color: rgba(0, 0, 0, 0.87) !important;
}
.ui.form.profile label {
  color: rgba(0, 0, 0, 0.87) !important;
}


/* form search */
.ui.radio.checkbox > label {
  color: rgba(0, 0, 0, 0.87) !important;
}
/* search results*/
.ui.container .twelve h3,
strong {
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.list .item .description {
  color: rgba(0, 0, 0, 0.87) !important;
}
.arborescence {
  color: rgba(0, 0, 0, 0.87) !important;
  margin-left: 10px;
}
.arborescence .folder {
  color: rgba(0, 0, 0, 0.87) !important;
}
.sixteen.search-results h2, h3 {
  color: rgba(0, 0, 0, 0.87) !important;
}
.ui.dropdown .item a {
  list-style-type: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.relaxed.divided .item {
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.relaxed.divided .item .content a {
  color: rgba(0, 0, 0, 0.87) !important;
}
