/* Component React StickyFooter 
.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  padding: 50px;
  font-size: 20px;
}
.container {
  height: 700px;
  overflow: auto; 
}
.container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} 
.outer-container {
  height: 700px;
  overflow: hidden;
  position: relative;
}
.inner-container {
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px; 
  box-sizing: content-box; 
}
.inner-container::-webkit-scrollbar {
  width: 0; 
}
.context {
  padding: 20px;
  background: #eee;
}  */
