// couleurs
$primary: #3498db;
$secondary: #1a1a1a;
$white: #fff;
$grey: #a9a9a9;
$pageBackground: #fff;
$transparent: transparent;

$linkColor: $primary;
$link-navbar: $white;
$link-footer: $white;
$text-primary-color: $secondary;
$text-secondary-color: $white;

$dropdown-text-color-mobile: white;
// img
$image-portrait-user: 200px;

$bestservices-container:1400px;
$developer-search-container:800px;
// foverr container
$fiverr-container:1450px;
// container custom
$custom-container: 1550px;
// custom-container
$container-max-width: 1400px;
$container-padding: 10px;
// grid
$container-grid-max-width: 1400px;
$container-grid-padding: 10px;
// navbar
$container-navbar-width: 1450px;
$navbar-height: 8vh;
$navbar-height-mobile: 14vh;
$navbar-height-tablet: 14vh;

// title parallax home
$font-size-animate: 3em;
$font-size-animate-mobile: 1.8rem;
$font-size-animate-tablet: 4rem;
$font-size-animate-p: 1.8rem;
$font-size-animate-p-mobile: 0.5rem;
$font-size-animate-p-tablet: 2rem;
// title parallax footer
$font-size-animate-footer: 2.5em;
$font-size-animate-footer-mobile: 1.1rem;
$font-size-animate-footer-tablet: 4rem;
$font-size-animate-footer-p: 1.5rem;
$font-size-animate-footer-p-mobile: 1rem;
$font-size-animate-footer-p-tablet: 2rem;
$font-weight-animate-p: 600;
$letter-spacing: 25px;
$letter-spacing-mobile: 8px;
// font-size navbar desktop
$font-size-navbar-desktop-small: 0.9rem;
$font-size-navbar-desktop: 1.1rem;
// font-size navbar mobile
$font-size-navbar-mobile: 1.1rem;
// taille du burger
$font-size-burger: 20px;
// taille de l'icon cart
$font-size-cart: 20px;
// Separators
$separator: 40px;

// dropdown
$dropdown-min-width: 300px;
$dropdown-max-width: 450px;
// opacity navbar
$alpha-navbar: 0.8;
// opacity burger
$alpha-navbar-mobile: 0.7;
// opacity parallax home
$alpha-parallax-home: 0.1;

$parallax-container-home-height: 100vh;

$alpha-parallax-footer: 0.1;

$parallax-container-footer-height: 70vh;

$alpha-banner-parallax-home: 1;

// opacity home
$alpha-homepage-jsx: 0.6;


// padding
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 25px;
$padding-extra-large: 40px;
// margin
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 25px;
$margin-extra-large: 30px;



// alert
$font-size-alert: 12px;
$top-alert: 30px;
$right-alert: 30px;
$max-width-alert: 300px;


