// couleurs
$primary: #3498db;
$secondary: #1a1a1a;
$white: #fff;
$grey: #a9a9a9;
$pageBackground: #fff;
$transparent: transparent;
$linkColor: $primary;
$link-navbar: $white;
$link-footer: $white;
$dropdown-text-color-mobile: white;
// général
$font-size-animate-small: 1.5rem;
$font-size-animate-medium: 2rem;
$font-size-animate-large: 3rem;
$font-size-animate-extra-large: 4rem;
$font-size-animate-extra-big-large: 5em;
// Separators
$separator-base: 80px;
$separator: 40px;
// navbar
$navbar-height: 15vh;
$navbar-container-width: 1450px;
// font-size navbar desktop
$font-size-navbar-desktop-small: 0.9rem;
$font-size-navbar-desktop: 1.1rem;
// font-size navbar mobile
$font-size-navbar-mobile: 1.1rem;
// dropdown
$dropdown-min-width: 300px;
$dropdown-max-width: 450px;
// opacity navbar
$alpha-navbar: 0.8;
// opacity parallax home
$alpha-parallax-home: 0.2;
// opacity home
$alpha-homepage-jsx: 0.6;
// taille du burger
$font-size-burger: 20px;
// taille de l'icon cart
$font-size-cart: 20px;
// opacity burger
$alpha-navbar-mobile: 0.7;

// container custom
$custom-container: 1600px;
// container navbar
$container-body-max-width: 1400px;
// custom-container
$container-max-width: 1400px;
$container-padding: 10px;
// grid
$container-grid-max-width: 1400px;
$container-grid-padding: 10px;

// padding
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 25px;
$padding-extra-large: 35px;
// margin
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 25px;
$margin-extra-large: 30px;
// alert
$font-size-alert: 12px;
$top-alert: 30px;
$right-alert: 30px;
$max-width-alert: 300px;

// parallax home
// title animate

// title footer

$font-weight-animate-p: 600;
$letter-spacing: 35px;
$letter-spacing-small: 10px;

// parallax footer home
$parallax-container-home-height: 100vh;
$parallax-container-footer-height: 500px;

$image-portrait-user: 200px;
