{# Formulaire Mobile #}
{{ form_start(formServiceMobile, {'attr': {'action': path('search_results'), 'class': 'ajax-form'}}) }}
<div class="ui category search">
    <div class="ui icon fluid input">
        {{ form_widget(formServiceMobile.search_term_mobile) }}
        <i class="search link icon"></i>

    </div>
    <div class="results"></div>
</div>
{{ form_end(formServiceMobile) }}