{% block list_orders %}
{% if orders is iterable %}
<div class="ui relaxed divided list">
    {% for order in orders %}
    <div class="item">
        <i class="large middle aligned history icon"></i>
        <div class="content">
            <a class="header">{{ order.title}}</a>
            <div class="description">{{ order.dateOrder|date("d/m/Y H:i") }}</div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="ui pagination menu centered custom-margin-top">
    {% for page in range(1, pagination.pageCount) %}
    <a class="item{% if page == pagination.currentPageNumber %} active{% endif %}"
        href="{{ path('profile_pagination', {'id' : app.user.id, 'page': page }) }}">
        {{ page }}
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock list_orders %}