{% extends 'base.html.twig' %}

{% block body %}
<h1 class="uk-animation-slide-bottom">{{ title_page }}</h1>

{% if developers| default %}
{# On affiche les développeurs touvées #}
<div class="ui list developer uk-animation-fade">
    {% for developer in developers %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ developer }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}