{% for type, messages in app.flashes %}
    {% for flash_message in messages %}
        <div class="ui {{ type }} message anim">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}

{% for flash_error in app.flashes('verify_email_error') %}
<div class="ui negative message anim">
    <i class="close icon"></i>
    <div class="header">
        {{ flash_error }}
    </div>

</div>
{% endfor %}